<!DOCTYPE html>
<html lang="es">
     <head>
          <meta charset="UTF-8" />
          <!--[if lte IE 8]><meta http-equiv="X-UA-Compatible" content="chrome=1" /><![endif]-->
          <meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
          <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
          <title>Devil Card Trigger Game</title>
     </head>

     <body style="background-color:#000000;">
          <p><canvas id="canvas" width="1280" height="720" style="margin-top:-16px; margin-left:-8px;">
               Tu navegador no soporta el canvas, actualízalo o prueba otro. ¡Gracias! (>uo)7
          </canvas></p>

          <style>
               .dctButton {
               	color: #FFFFFF; background-color:#000000; border: 3px solid #FF0000;
               }
          </style>

          <script src="https://code.jquery.com/jquery-latest.min.js"></script>
          <script src="client.js"></script>
     </body>
</html>
