<!DOCTYPE html>
<html lang="es">
     <head>
          <meta charset="UTF-8" />
          <!--[if lte IE 8]><meta http-equiv="X-UA-Compatible" content="chrome=1" /><![endif]-->
          <meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
          <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
          <title>Devil Card Trigger Game</title>
     </head>

     <body style="background-color:#000000; overflow:hidden; margin:0px; color:#FF0000;">
          <div id="pantalla">
               <p><canvas id="canvas" width="1280" height="720">
                    Tu navegador no soporta el canvas, actualízalo o prueba otro. ¡Gracias! (>uo)7
               </canvas></p>

               <center><div id="divIniciarSesion" style="width:400px; color:#FF0000; background-color:#000000; box-shadow: 0px 0px 100px 100px #000000;">
                    <table><tr><td><center>Usuario</center></td><td><center>Contraseña</center></td></tr>
                    <tr><td><input id="inpUsuario" type="text" /></td><td><input id="inpContrasena" type="text" /></td></tr></table>
                    <button id="btnIniciarSesion" type="button">Entrar</button><br><br>

                    <div id="divMenuUsuario" style="visibility:hidden;">
                         <br>Baraja seleccionada<br>
                         <select id="selectBaraja" name="selectBaraja">
                            <option value="Raziel">Raziel (Espectros&Artificiales Tóxico&Nulo)</option>
                            <option value="Saleh">Saleh (Insectos&Humanos Fuego&Eléctrico)</option>
                         </select>
                         <br><br>Partida<br><input id="inpCrearPartida" type="text" /><br><button id="btnCrearPartida" type="button">Jugar</button>
                         <br><br>Partidas en curso
                         <br><section id="sectionPartidas" style="height:100px; overflow-y:scroll;"></section>
                    </div>
               </div></center>
          </div>

          <script src="https://code.jquery.com/jquery-latest.min.js"></script>
          <script src="client.js"></script>
     </body>
</html>

<style>input, select, button {background-color:#000; color:#FFF;}</style>
